/** 장바구니 상품 */
.cart_order .goods_nm { font-weight: bold;}
.cart_order .opt_info { margin-top: 10px; color: #666666; }
.cart_order .goodsCnt { width: 60px; }
.cart_order .goodsCnt_up, .cart_order .goodsCnt_dn { font-size: 30px; vertical-align: middle; cursor: pointer; }

/** 장바구니 상품 요약 */
.cart_order .summary { background-color: #f8f8f8; border-bottom: 1px solid #d5d5d5; margin-bottom: 20px; }
.cart_order .summary li { float: left; width: calc(100% / 3); text-align: center; padding: 20px 10px; }

.cart_order .summary:after { clear: left; content: ''; display: block; }
.cart_order .summary li .t1 { font-weight: bold; margin-bottom: 10px; }

.cart_order .no_goods { padding: 150px 0; border-bottom: 1px solid #d5d5d5; text-align: center; font-size: 17px; font-weight: bold; }

