/** 상품 상세 상단 */
.goods_top .images { float: left; width: calc(40% - 10px); }
.goods_top .info { float: right; width: calc(60% - 10px); }

.goods_top .images img { display: block; width: 100%; }

.goods_top .goodsCnt { width: 60px; }
.goods_top .goodsCnt_up, .goods_top .goodsCnt_dn { font-size: 35px; cursor: pointer; vertical-align: middle; }

.goods_top .goods_nm { font-weight: bold; font-size: 15px; padding-bottom: 5px; }
.goods_top .short_desc { color: #666666; border-bottom: 1px solid #d5d5d5; padding-bottom: 10px;  margin-bottom: 20px; }

.goods_top .consumer { color: #666666; margin-right: 10px; }
.goods_top .price { font-weight: bold; font-size: 15px; }

.goods_top .bottom_wrap:after { clear: both; content: ''; display: block; margin: 25px 0; }
.goods_top .buy_btns { float: left; }
.goods_top .buy_btns .btns { display: inline-block; padding: 10px 30px; border: 1px solid #212121; cursor: pointer; border-radius: 5px; margin-right: 5px; font-weight: bold; font-size: 15px; }
.goods_top .buy_btns .btns.order { background-color: #212121; color: #ffffff; }

.goods_top .total_price_wrap { float: right; padding-right: 25px; }
.goods_top .total_price { font-size: 20px; font-weight: bold; color: red; }

.goods_top .selected_opts { margin-top: 20px; }
.goods_top .opt_rows { border: 1px solid #d5d5d5; margin-bottom: 2px; display: table; width: 100%; padding: 10px; position: relative; }
.goods_top .opt_rows > .box { display: table-cell; vertical-align: middle; }
.goods_top .opt_rows .opt_price { width: 120px; text-align: center; }
.goods_top .opt_rows .goodsCnt_wrap { width: 150px; text-align: right; }
.goods_top .opt_rows .remove { position: absolute; top: 10px; right: 10px; cursor: pointer; }
